<html lang="en">
<%- include('./partials/head.ejs')%>
<body>

<%- include('./partials/nav.ejs') %>

    <section class="details content">
        <h2 class="title"><%= blog.title %></h2>
        <p class="snippet"><%= blog.snippet %></p>
        <a data-doc="<%= blog._id %>" class="delete">Delete</a>
    </section>
<%- include('./partials/footer.ejs')%>

<script>
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
        const endpoint = `/blogs/${trashcan.dataset.doc}`;
        fetch(endpoint, {
            method: 'DELETE'
        })
        .then(data => data.json())
        .then( ({ redirect }) => {
            window.location.href = `/${redirect}`;
        });
    });
</script>
</body>
</html>